spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/lesson-22
    username: myuser
    password: mypassword
    driver-class-name: org.postgresql.Driver


    hikari:
      maximum-pool-size: 10
      minimum-idle: 2
      idle-timeout: 30000
      max-lifetime: 1800000
      connection-timeout: 30000

  jdbc:
    template:
      fetch-size: 100

  sql:
    init:
      mode: always
      platform: postgres

server:
  port: 8080

logging:
  level:
    org.springframework.jdbc.core: DEBUG
    org.springframework.transaction: DEBUG
